
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479015048641'); /* IE9*/
  src: url('iconfont.eot?t=1479015048641#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479015048641') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479015048641') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479015048641#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before { content: "\f002d"; }

.icon-fenxiang:before { content: "\e62e"; }

.icon-email:before { content: "\e605"; }

.icon-weixin:before { content: "\e650"; }

.icon-fenxiang1:before { content: "\e654"; }

.icon-qq:before { content: "\e648"; }

.icon-87:before { content: "\e677"; }

.icon-zhuye:before { content: "\e6c1"; }

.icon-iconfontweibowukuang:before { content: "\e661"; }

.icon-github:before { content: "\e69f"; }

.icon-wo:before { content: "\e607"; }

.icon-wenzi:before { content: "\e600"; }

.icon-code:before { content: "\e62a"; }

.icon-WeChat:before { content: "\e63a"; }

.icon-wo1:before { content: "\e6c7"; }

.icon-riji:before { content: "\e66a"; }

.icon-wenzhang-copy:before { content: "\e643"; }

.icon-icon:before { content: "\e60d"; }

.icon-github-copy:before { content: "\e608"; }

.icon-wenzhang:before { content: "\e8b8"; }

